<div class="benefits" id="benefits">

    <div class="benefit-head-part">
        <div class="benefit-heading">A Health-Boosting Application</div>
        <div class="benefit-description">Improve your health holistically, more consistently and experience change
        </div>
    </div>
    <div class="benefit-body-part">


        <div class="benefit-container">
            <div class="benefit-box">
                <div class="icon"> <img src="./static/ingredient.png" alt="logo"> </div>
                <div class="benefit-head"> Track your Food </div>
                <div class="benefit-desc"> &emsp; Helps you keep a track on your daily food intake.</div>
            </div>
            <div class="benefit-box">
                <div class="icon"> <img src="./static/calories.png" alt="logo"></div>
                <div class="benefit-head"> Better Calorie Analysis </div>
                <div class="benefit-desc"> &emsp; Weekly calorie insights and analysis </div>
            </div>
            <div class="benefit-box">
                <div class="icon"> <img src="./static/stories.png" alt="logo"> </div>
                <div class="benefit-head"> Share your Stories </div>
                <div class="benefit-desc"> &emsp; Enables you to share your fitness story and view other's story
                </div>
            </div>
        </div>

    </div>
</div>

