<div class="contact" id="contact">
    <div class="contact-heading"> Contact Us </div>
    <div class="contact-desc">
        &emsp; Feel like Contacting Us? Submit your queries here and we will look into it. Our
        passionate team is waiting to make your living experience a relishing one!
    </div>


    <div class="contact-body">
        <div class="contact-image"> <img src="./static/contact.jpg" alt=""> </div>
        <div class="contact-form">
            <form id="contactform" action="">
                <input type="text" placeholder="Enter Your Name" name="name" required>
                <input type="text" placeholder="Enter Your Contact Number" name="phone" required>
                <input type="text" placeholder="Enter Your Email Address" name="email" required>
                <textarea name="" id="" cols="30" rows="10" placeholder="Enter Your Query" name="query" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>


</div>


