<footer>
    <div class="footer">
        <div class="left-email">
            <div class="image"> <img src="./static/email.png" alt=""> </div>
            <div class="desc">
                <a href="mailto:wisemeal1@gmail.com"> <p class="contact-ques"> wisemeal1@gmail.com </p> </a>
            </div>
        </div>
        <div class="mid-copyright">
            <div class="image"> <img src="./static/copyright.png" alt=""> </div>
            <div class="desc">
                <p class="contact-ques"> WiseMeal Authority | 2022</p>
            </div>
        </div>
        <div class="right-team">
            <div class="image"> <img src="./static/collaboration.png" alt=""> </div>
            <div class="desc">
                <a href="/team"> <p class="contact-ques">Our Team</p> </a>
            </div>
        </div>
    </div>
</footer>
