<div class="home" id="home">
    <div class="home-container">
        <div class="home-body">

            <div class="right-home-text">
                <div class="welcome-head">Welcome to <h3>WiseMeal !</h3>
                </div>
                <div class="welcome-desc"> Let's build wellness rather than treating disease </div>

                <div class="quote-box">
                    <i class="fas fa-quote-left"></i>
                    <p class="quote">
                        &emsp; Good Nutrition creates health in all areas of our existence. All parts are interconnected.
                    </p>
                    <i class="fas fa-quote-right fa-2x"></i>

                </div>

            </div>
        </div>

    </div>
</div>
