<div class="how-it-works" id="steps">
    <div class="how-it-works-head-part"> How it works ?</div>

    <div class="how-it-works-body-part">

        <div class="how-it-works-box">
            <div class="how-it-works-icon"> <img src="./static/user.png" alt=""> </div>
            <div class="step-no">Step 1</div>
            <div class="step-name"> Create an account on WiseMeal </div>
            <div class="step-desc"> Access all features and enjoy healthy life</div>
        </div>
        <div class="how-it-works-box">
            <div class="how-it-works-icon"> <img src="./static/plan.png" alt=""> </div>
            <div class="step-no">Step 2</div>
            <div class="step-name"> Track Foods and Set Goals </div>
            <div class="step-desc"> Keep a track on your daily intake and analyze</div>
        </div>
        <div class="how-it-works-box">
            <div class="how-it-works-icon"> <img src="./static/healthy-life.png" alt=""> </div>
            <div class="step-no">Step 3</div>
            <div class="step-name"> Enjoy Healthy Life </div>
            <div class="step-desc"> Enjoy an healthy life </div>
        </div>

    </div>
</div>


