<div class="tools-features" id="features">
    
    <div class="features-container">

        <div class="features-head">Improved Tools, Features</div>
        <div class="features-desc">Track detailed body and health metrics with cutting-edge technology</div>
        <div class="features-pictures">
            <div class="features-left">
                <div class="features-box">
                    <span class="features-box-head">Track Your Foods</span>
                    <img src="./static/lunchFood.png" alt="" id="pic1">
                </div>
                <div class="features-box">
                    <span class="features-box-head">Set Your Goals</span>
                    <img src="./static/target.png" alt="" id="pic2">
                </div>
            </div>
            <div class="features-mid">
                <div class="features-box">
                    <span class="features-box-head">Daily Food Log</span>
                    <img src="./static/foodlog.png" id="pic3" alt="">
                </div>
                <div class="features-box">
                    <span class="features-box-head">Your Progress</span>
                    <img src="./static/track.png" id="pic4" alt="">
                </div>
            </div>
            <div class="features-right">
                <div class="features-box">
                    <span class="features-box-head">Write Your Story</span>
                    <img src="./static/story.png" alt="" id="pic5">
                </div>
                <div class="features-box">
                    <span class="features-box-head">View Stories</span>
                    <img src="./static/yourStories.png" alt="" id="pic6">
                </div>
            </div>
        </div>

    </div>



</div>
