<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story | WiseMeal</title>
    <link rel="shortcut icon" href="./../static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./../dashboard/stories.css">
</head>
<body style="background-color:aliceblue;">
    

    <div class="view-story-container">
        <div class="fullstory-head">
            <img src="./../static/fantasy.png" alt="">
            <h3>Story</h3>
        </div>

        <div class="fullstory-container">
            
            <div class="fullstory-box">
                <div class="fullstory-subject"> <%= sub %> </div>
                <div class="fullstory-description"> <%= desc %> </div>
                <div class="fullstory-author"> <%= author %> </div>
            </div>
        

        </div>
    </div>

</body>
</html>