<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories | WiseMeal</title>
    <link rel="shortcut icon" href="./static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="./dashboard/stories.css">
</head>

<body style="background-color:aliceblue ;">
    <!-- navbar1============================= -->
    <%- include('../../partials/nav1.ejs') %>


        <!-- navbar2=============================== -->
        <%- include('../../partials/nav2.ejs') %>

            <!-- main work===================== -->
            <div class="create-story-container">

                <div class="create-story-head">
                    <img src="./static/script.png" alt="">
                    <h3>Write Your Story </h3>
                </div>
                <div class="create-story-box">
                    <div class="create-story-form">
                        <form action="/posts" method="post">
                            <input type="text" placeholder="Write a subject" name="subject" required>
                            <textarea name="story" cols="30" rows="10" placeholder="Write your story here" required></textarea>
                            <button type="submit">Post</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="view-story-container">
                <div class="view-story-head">
                    <img src="./static/fantasy.png" alt="">
                    <h3>Your Stories</h3>
                </div>


                <div class="stories-collection" id="stories-collection">


                    <!-- <div class="story-box">
                        <div class="story-subject">2 dine 30kg bariye felechi</div>
                        <div class="story-description">Hii guys... This is Arindam Halder ...I want to share my weight
                            losing
                            story with all of u... 3days ago I had decided to start dieting and avoid junk foods. That
                            time, my
                            weight was 60kgs. Now I am of 90kgs.</div>
                        <div class="view-author">
                            <div class="view-icon"> <a href="/fullstory"><img src="./static/ellipsis.png" alt=""></a>
                            </div>
                            <div class="author">
                                <img src="./static/bin.png" alt="">
                            </div>
                        </div>
                    </div> -->



                </div>

                <div class="view-all-button">
                    <a href="/yourstories"> <button>View All</button></a>
                </div>

            </div>


            <div class="view-story-container">
                <div class="view-story-head">
                    <img src="./static/fantasy.png" alt="">
                    <h3>Others' Stories</h3>
                </div>

                <div class="stories-collection" id="other-stories-collection">
<!-- 
                    <div class="story-box">
                        <div class="story-subject">2 dine 30kg bariye felechi</div>
                        <div class="story-description">Hii guys... This is Rajdeep Mallick ...I want to share my weight
                            losing
                            story with all of u... 3days ago I had decided to start dieting and avoid junk foods. That
                            time, my
                            weight was 60kgs. Now I am of 90kgs.</div>
                        <div class="view-author">
                            <div class="view-icon"><a href="/fullstory"> <img src="./static/ellipsis.png" alt=""> </a>
                            </div>
                            <div class="author">Rajdeep Mallick</div>
                        </div>
                    </div> -->


                </div>


                <div class="view-all-button">
                    <a href="/allstories"><button>View All</button></a>
                </div>

            </div>



            <script>
                const storyCollection = document.getElementById("stories-collection");
                const otherStoryCollection = document.getElementById("other-stories-collection");

                const myStories = fetch("/post/me").then((result) => {
                    return result.json();
                }).then((results) => {

                    var sixPosts = results;
                    if (results.length > 6) {
                        sixPosts = results.slice(0, 6);
                    }

                    sixPosts.forEach((result) => {
                        const storyBox = document.createElement("div");
                        storyBox.classList.add("story-box");

                        const storySubject = document.createElement("div");
                        storySubject.classList.add("story-subject");
                        storySubject.innerHTML = result.subject;
                        storyBox.appendChild(storySubject);

                        const storyDescription = document.createElement("div");
                        storyDescription.classList.add("story-description");
                        storyDescription.innerHTML = result.story;
                        storyBox.appendChild(storyDescription);

                        const viewAuthor = document.createElement("div");
                        viewAuthor.classList.add("view-author");

                        const viewIcon = document.createElement("div");
                        viewIcon.classList.add("view-icon");

                        const a = document.createElement("a");
                        // a.href = "/fullstory";
                        a.href = `/posts/${result._id}`;
                        const ellipsisImg = document.createElement("img");
                        ellipsisImg.src = "./static/ellipsis.png";
                        a.appendChild(ellipsisImg);
                        viewIcon.appendChild(a);
                        viewAuthor.appendChild(viewIcon);

                        const authorDiv = document.createElement("div");
                        authorDiv.classList.add("author");

                        const binImg = document.createElement("img");
                        binImg.src = "./static/bin.png";
                        authorDiv.appendChild(binImg);
                        viewAuthor.appendChild(authorDiv);
                        storyBox.appendChild(viewAuthor);

                        storyCollection.appendChild(storyBox);





                        binImg.addEventListener("click", () => {

                            const deletedStory = fetch(`/posts/${result._id}`, {
                                method: "DELETE",
                                headers: {
                                    "Content-Type": "application/json"
                                }
                            }).then((data) => {
                                location.reload(true);
                            }).catch((err) => {
                                console.log(err);
                            })
                        })


                    })



                }).catch((err) => {
                    console.log(err);
                })


                var userId;
                const userMe = fetch("/user/me").then((result)=>{
                    return result.json();
                }).then((result)=>{
                    userId = result._id;
                })


                const otherStories = fetch("/posts").then((result) => {
                    return result.json();
                }).then((results) => {
                    // console.log(results);
                    
                    function checkOtherPost(post){
                        return post.author._id != userId;
                    }
                    
                    var sixPosts_others = results.filter(checkOtherPost);
                    // console.log(sixPosts_others);
                    
                    if (sixPosts_others.length > 6) {
                        sixPosts_others = results.slice(0, 6);
                    }

                        sixPosts_others.forEach((result) => {

                            const storyBox = document.createElement("div");
                            storyBox.classList.add("story-box");

                            const storySubject = document.createElement("div");
                            storySubject.classList.add("story-subject");
                            storySubject.innerHTML = result.subject;
                            storyBox.appendChild(storySubject);

                            const storyDescription = document.createElement("div");
                            storyDescription.classList.add("story-description");
                            storyDescription.innerHTML = result.story;
                            storyBox.appendChild(storyDescription);

                            const viewAuthor = document.createElement("div");
                            viewAuthor.classList.add("view-author");

                            const viewIcon = document.createElement("div");
                            viewIcon.classList.add("view-icon");

                            const a = document.createElement("a");
                            // a.href = "/fullstory";
                            a.href = `/posts/${result._id}`;
                            const ellipsisImg = document.createElement("img");
                            ellipsisImg.src = "./static/ellipsis.png";
                            a.appendChild(ellipsisImg);
                            viewIcon.appendChild(a);
                            viewAuthor.appendChild(viewIcon);

                            const authorDiv = document.createElement("div");
                            authorDiv.classList.add("author");

                            
                            authorDiv.innerHTML = result.author.fullname;


                            viewAuthor.appendChild(authorDiv);
                            storyBox.appendChild(viewAuthor);

                            otherStoryCollection.appendChild(storyBox);




                        })
                    // }



                }).catch((err) => {
                    console.log(err);
                })
            </script>

</body>

</html>