<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | WiseMeal</title>
    <link rel="shortcut icon" href="./static/favicon.png" type="image/x-icon">

    <style>
        body {
            margin: 0px;
            background-color: aliceblue;
        }

        .forgot-password-container {
            /* border: 1px solid red; */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            padding-top: 70px;
        }

        .forgot-password-box {
            width: 480px;
            height: 420px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 15px;
            box-shadow: 2px 2px 20px 2px rgb(134, 134, 134), -2px -2px 20px 2px rgb(134, 134, 134);
            background-color: #fff;
        }

        .forgot-head {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 2rem;
            margin-bottom: 8px;
        }

        .forgot-desc {
            font-size: .9rem;
            color: rgb(101, 101, 101);
            margin-bottom: 100px;

        }

        .forgot-password-box form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .forgot-password-box form input {
            padding: 8px 20px;
            width: 300px;
            margin-bottom: 18px;
            outline: none;
        }

        .forgot-password-box form button {
            padding: 6px 112px;
            margin-bottom: 4px;
            background-color: rgb(61, 95, 174);
            color: white;
            border: 1px solid black;
            font-weight: 700;
            cursor: pointer;
        }

        .forgot-password-box .backBtn {
            padding: 4px 124px;
            background-color: #fff;
            border: 0px;
            font-weight: 700;
            cursor: pointer;
        }

        .forgot-password-box button:active {
            transform: scale(.97);
        }

        @media(max-width: 490px){
            .forgot-password-box{
                width: 300px;
                padding: 5px 20px;
            }
            .forgot-password-box form input {
                padding: 8px 16px;
                width: 240px;
            }
            .forgot-head{
                font-size: 1.4rem;
            }
            .forgot-desc {
                font-size: .8rem;
                text-align: center;
            }
            .forgot-password-box form button {
                padding: 6px 72px;
            }

            .forgot-password-box .backBtn {
                padding: 4px 84px;
            }
        }

    </style>



</head>

<body>
    <div class="forgot-password-container">

        <div class="forgot-password-box">
            <div class="forgot-head">Forgot your password</div>
            <div class="forgot-desc">Please enter the email address associated with your WiseMeal account</div>

            <form action="/forgot" method="post" id="forgotForm">
                <input type="email" name="email" placeholder="Enter your email" required>
                <button type="submit">Request reset link</button>
            </form>
            <a href="/login"> <button class="backBtn">Back to Login</button> </a>
        </div>

    </div>

    <script>
        // const forgotForm = document.getElementById("forgotForm");
        // forgotForm.addEventListener("submit", (e) => {
        //     e.preventDefault();
        //     const userEmail = e.srcElement[0].value;
        //     // console.log(userEmail);

        //     const Params = {
        //         headers: {
        //             "content-type": "application/json"
        //         },
        //         body: JSON.stringify({ email: userEmail }),
        //         method: "POST"
        //     }
        //     const forgotUser = fetch("/forgot", Params)
        //         .then(data => { return data.json() })
        //         .then(res => { console.log(res) })
        //         .catch(err => { console.log(err) })
            // console.log(forgotUser)
        // })
    </script>

</body>

</html>