<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | WiseMeal</title>
    <link rel="shortcut icon" href="./../../static/favicon.png" type="image/x-icon">

    <style>
        body {
            margin: 0px;
            background-color: aliceblue;
        }

        .reset-password-container {
            /* border: 1px solid red; */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            padding-top: 70px;
        }

        .reset-password-box {
            width: 420px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 15px;
            box-shadow: 2px 2px 20px 2px rgb(186, 186, 186), -2px -2px 20px 2px rgb(176, 176, 176);
            background-color: #fff;
            padding: 5px 40px;
            text-align: center;
        }

        .reset-head {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 2rem;
            margin-bottom: 8px;
        }

        .reset-desc {
            font-size: .9rem;
            color: rgb(101, 101, 101);
            margin-bottom: 20px;

        }

        .reset-password-box form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .reset-password-box form input {
            padding: 8px 20px;
            width: 300px;
            margin-bottom: 13px;
            outline: none;
        }

        .reset-password-box form button {
            padding: 6px 152px;
            margin-bottom: 4px;
            background-color: rgb(61, 95, 174);
            color: white;
            border: 1px solid black;
            font-weight: 700;
            cursor: pointer;
        }

        .reset-password-box button:active {
            transform: scale(.97);
        }

        .reset-password-box .dp img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }

        .reset-password-box .name-div {
            font-size: 1.1rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .reset-password-box #fullname {
            font-size: 1.4rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 700;
        }

        @media(max-width: 515px){
            .reset-password-box {
                width: 260px;
                height: 500px;
                padding: 5px 20px;
            }
            .reset-head {
                font-size: 1.6rem;
                margin-bottom: 8px;
            }
            .reset-password-box form input {
                padding: 6px 20px;
                width: 200px;
                margin-bottom: 13px;
                outline: none;
            }

            .reset-password-box form button {
                padding: 6px 102px;
                margin-bottom: 4px;
                background-color: rgb(61, 95, 174);
                color: white;
                border: 1px solid black;
                font-weight: 700;
                cursor: pointer;
            }
        }

    </style>



</head>

<body>
    <div class="reset-password-container">

        <div class="reset-password-box">
            <div class="reset-head">Reset your password</div>
            <div class="reset-desc">Strong password required. Combine lowercase, uppercase letters, numbers and special
                symbols </div>

            <div class="dp">
                <img id="dpImg" src="https://i.pinimg.com/280x280_RS/2e/45/66/2e4566fd829bcf9eb11ccdb5f252b02f.jpg">
            </div>

            <div class="name-div">
                Hi <span id="fullname">
                    <%= name %>
                </span>!
            </div>

            <form id="resetForm" action="" method="post" onsubmit="return handleSubmit(event);">
                <input type="password" placeholder="Enter new password" name="pass1">
                <input type="password" placeholder="Confirm new password" name="pass2">

                <button type="submit">Reset</button>

            </form>
            <!-- <a href="/login"> <button class="backBtn">Back to Login</button> </a> -->
        </div>
        <span id="userId" style="display: none;"><%= userId %></span>
    </div>

    <script>
        const resetForm = document.getElementById("resetForm");
        // resetForm.addEventListener("submit", function(e){
        //     e.preventDefault();
        //     var pass1 = e.srcElement[0].value;
        //     var pass2 = e.srcElement[1].value;
            
        //     const resetPass = fetch(`/reset/:id`, {
        //                     method: "PATCH",
        //                     headers: {
        //                         "Content-Type": "application/json"
        //                     },
        //                     body: JSON.stringify({
        //                         fullname: name,
        //                         phone: mobile,
        //                         height: heightv,
        //                         gender: genderv,
        //                         dob: dobv,
        //                         city: cityv,
        //                         weight: weightv,
        //                         activity: activityv
        //                     })
        //                 })

        // })







        const dpImg = document.getElementById("dpImg");
        const userId = document.getElementById("userId");
        
        var id = userId.innerHTML.trim();
        // console.log(id);

        const avatarURL = fetch(`/users/${id}/avatar`).then((data)=>{
            // console.log(data);
            // console.log("hello");

            if (data) {
                if (data.url) {
                    dpImg.src = data.url;
                }
            }
        }).catch((error) => {
            console.log("Error occured");
            console.log(error);
        })

    </script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function handleSubmit(e) {
        // e.preventDefault();
        console.log(e);
        const pass = e.srcElement[0].value;
        console.log(pass);
        const cpass = e.srcElement[1].value;
        console.log(cpass);
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })
        if (pass !== cpass) {
            Toast.fire({
                icon: 'error',
                title: 'Password and confirm password does not match'
            })
            return false;
        }
        else if (pass.match(/[a-z]/g) && pass.match(/[A-Z]/g) && pass.match(/[0-9]/g) && pass.match(/[^a-zA-Z\d]/g) && pass.length >= 6) {
            Toast.fire({
                icon: 'success',
                title: 'Password reset successfully'
            })
            return true;
        }
        else {
            Toast.fire({
                icon: 'error',
                title: 'Password should contain: \n  atleast 1 lowercase \n   atleast 1 uppercase \n   atleast 1 number \n   atleast 1 special character \n    min length: 6'
            })
            return false;
        }
    }
</script>



</body>

</html>