<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team | WiseMeal</title>
    <link rel="shortcut icon" href="./static/favicon.png" type="image/x-icon">
    
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="team.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
</head>

<body>

    <!-- NavBar1 ================================================== -->
    <%- include('../partials/nav1.ejs') %>


        <div class="team-container">

            <div class="user1">
                <img src="./static/arindam.jpeg" alt="">
                <div class="name">Arindam Halder</div>
                <div class="desc">B.E. Information Technology, 2020-2024</div>

                <div class="social-media">
                    <li id="sm"><a href="https://www.linkedin.com/in/arindam369/" target="_blank"><i id="linkedin"
                                class="fab fa-linkedin"></i></a></li>

                    <li id="sm"><a href="https://github.com/arindam369" target="_blank"><i id="github"
                                class="fab fa-github"></i></a></li>

                    <li id="sm"><a href="mailto:halderarindam10000@gmail.com" target="_blank"><i id="email"
                                class="far fa-envelope"></i></a></li>
                </div>

            </div>

            <div class="user2">
                <img src="./static/sanghita.jpeg" alt="">
                <div class="name">Sanghita Gharami</div>
                <div class="desc">B.E. Information Technology, 2020-2024</div>

                <div class="social-media">
                    <li id="sm"><a href="https://www.linkedin.com/in/sanghita-gharami-5a5837232/" target="_blank"><i
                                id="linkedin" class="fab fa-linkedin"></i></a></li>

                    <li id="sm"><a href="https://github.com/Sanghita1" target="_blank"><i id="github"
                                class="fab fa-github"></i></a></li>

                    <li id="sm"><a href="mailto:sanghitagharami2000@gmail.com" target="_blank"><i id="email"
                                class="far fa-envelope"></i></a></li>
                </div>

            </div>

        </div>


        <!-- Footer Page ==================================== -->
        <%- include('../partials/footer.ejs') %>


</body>

</html>